
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
////////////////////// TOP BAR //////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


.top-bar { // Default for mobile
  min-height: 137px;
}

.top-bar.no-search { // Shrink height on mobile when no search
  min-height: 101px;
  .search-outer-wrapper {
    display: none;
    @include breakpoint(ML) { 
      display: initial;
    }
  }
}

.top-bar  {
  position: absolute;
  position: fixed;
  z-index: 990;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; //flex-end;
  flex-direction: row;
  align-items: flex-start; //center;
  width: 100%;
  padding: 10px 0 0px 0;
  box-shadow: 3px 3px 18px 0 rgba(0,0,0,0.07);
  top: 0px;
  transition: top 0.5s ease, box-shadow 0.5s ease; ////
  @include breakpoint(ML) { 
    min-height: 111px;
    padding: 12px 0 13px 0;
  }
  @include breakpoint(TP) { 
    padding: 12px 0 13px 0;
  }
  @include breakpoint(D) { 
    min-height: 86px;
    padding: 22px 0 22px 0;
  }
}

// "Apple" overide
.top-bar.apple  {
  padding: 0px;
  justify-content: center;
  min-height: 105px;
  @include breakpoint(ML) { 
    min-height: 40px;
  }
  @include breakpoint(TP) {
    min-height: 40px;
  }
  @include breakpoint(D) { 
    min-height: 40px;
  }
}


// Overide when search removed (e.g.on project page)
// - achieved by adding "layout-sub-type: 'no-search'" in front matter of page

body.no-search .top-bar  {
  min-height: 90px; // Shrunk, to allow top bar to be reduced in height on phones
  @include breakpoint(ML) { 
    min-height: 111px; // Default, see class above
  }
  @include breakpoint(D) { 
    min-height: 86px; // Default, see class above
  }
}

.logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  z-index: 161;
  order: 1;
  height: 35px;
  @include breakpoint(ML) {
    flex-basis: 70%;
    height: 38px;
  }
  @include breakpoint(D) {
    height: 42px;
    flex-basis: 349px;
    flex-grow: 3;
    margin: 0;
    align-self: center;
  }
}

// "Apple" overide
.top-bar.apple .logo-wrapper {
  flex-grow: 0;
  flex-basis: unset;
  margin: 20px 0 20px 0;
  height: 25px;
  @include breakpoint(ML) {
    height: 38px;
    margin: 0px 0 0px 0;
  }
  @include breakpoint(TP) {
    margin: 0px 0 0px 0;
  }
  @include breakpoint(D) {
    flex-basis: 190px;
    height: 42px;
  }
}

.logo-wrapper .logo-box {
  margin-left: 23px; 
  width: 180px;
  height: 32px;
  margin-top: 5px;
  background: url(../images/logo/plain/800px.png) top left/174px auto no-repeat;
  background-size: 180px auto;
  @include breakpoint(TP) {
    margin-top: 5px;
    margin-left: 25px; 
    width: 230px;
    height: 40px;
    background: url(../images/logo/plain/1200px.png) top left/230px auto no-repeat;
  }
  @include breakpoint(D) {
    margin-top: 4px; //0px;
    margin-left: 46px;
    width: 280px;
    height: 54px; //44px;
    background-size: 280px auto;
  }
}

// "Apple" overide
.top-bar.apple .logo-wrapper .logo-box {
  margin-top: 0;
  margin-left: 0; 
  width: 180px;
  height: 30px;
  background-size: 180px auto;
  @include breakpoint(TP) {
    margin-left: 23px; 
    margin-top: 10px;
    width: 190px;
    height: 40px;
    background-size: 160px auto;
  }
  @include breakpoint(D) {
    margin-top: 10px;
  }
}


.top-bar-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
}


// Sketched line

.top-bar > .bg-texture-wrapper .frame .bottom-frame {
    bottom: -2px;
    position: absolute;
}


// Color overide

.top-bar.black .logo-box,
.top-bar.black-dark .logo-box {
  background-image: url(../images/logo/camel/800px.png);
  @include breakpoint(TP) {
      background-image: url(../images/logo/camel/1200px.png);
  }  
}

.top-bar.pink .logo-box,
.top-bar.blue .logo-box {
  background-image: url(../images/logo/camel/800px.png);
  @include breakpoint(TP) {
      background-image: url(../images/logo/camel/1200px.png);
  }  
}


.top-bar.apple .logo-box {
  background-image: url(../images/logo/text/800px.png);
  @include breakpoint(TP) {
      background-image: url(../images/logo/text/1200px.png);
  }  
}


/////////////////////////////////////////////////////
//////////////////// NAVIGATION /////////////////////
/////////////////////////////////////////////////////

.navigation-wrapper {
  position: relative;
  z-index: 160;
  flex-basis: 100%;
  height: 42px;
  margin-top: 3px;
  order: 4;
  padding: 0;
  margin: 0;
  align-self: flex-end;
  @include breakpoint(ML) {
    order: 3;
    flex-grow: 0.1;
    flex-basis: 350px;
    height: 38px;
    margin: -2px 0 0 0;
  }
  @include breakpoint(TP) {
    flex-basis: 420px;
  }
  @include breakpoint(D) {
    height: 42px;
    order: 2;
    flex-basis: 500px;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    align-self: center;
  }
}


// "Apple" overide

.top-bar.apple .navigation-wrapper {
  position: relative;
  z-index: 160;
  flex-basis: unset;
  height: 20px;
  flex-grow: 0;
  width: 86%;
  margin: 0 0 20px 0;
  order: 4;
  padding: 0;
  align-self: flex-end;
  @include breakpoint(ML) {
    order: 3;
    flex-grow: 0.1;
    flex-basis: 350px;
    height: 38px;
    margin: -2px 0 0 0;
  }
  @include breakpoint(TP) {
    flex-basis: 420px;
    flex-grow: 0;
    height: 22px;
    margin: 0px 0 9px 0;
  }
  @include breakpoint(D) {
    height: 25px;
    margin: 0px 0 8px 0;
    order: 2;
    flex-basis: 500px;
    padding: 0;
    margin: 0;
    align-self: center;
  }
}



nav {
  height: 100%;
}


//////////////////  MENU BUTTON /////////////////////

.navigation-menu-button {
}

.navigation-menu { // <ul>
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  @include breakpoint(TP) {
    padding-right: 25px;
  }
  @include breakpoint(D) {
    padding-right: 45px;
  }
}


// "Apple" overide
.top-bar.apple .navigation-menu { // <ul>
  padding-right: 5px;
  padding-left: 5px;
  @include breakpoint(ML) {
    padding-right: 10px;
    padding-left: 25px;
  }
  @include breakpoint(TP) {
    padding-right: 25px;
    padding-left: 25px;
  }
  @include breakpoint(D) {
    padding-right: 45px;
    padding-left: 45px;
  }
}



//////////////////  NAV LINKS  ////////////////////// 

.nav-link { // <li>
  //text-transform: uppercase;
  display: inline;
  display: flex; ////
  align-items: center;
  flex-grow: 1; ////
  margin: 0;
  height: 100%;
  @include breakpoint(TP) {
    padding-top: 0px;
  }
  @include breakpoint(D) {
    padding-top: 2px;
  }
}

.nav-link.dropdown {
  @include breakpoint(D) {
    padding-right: 12px;
  }  
}


// "Apple" overide
top-bar.ubuntu .nav-link  {
  @include breakpoint(TP) {
    padding-top: 0px;
  } 
}


// LAST CHILD: adjusts nav distance from right of page
.nav-link:last-child { 
  flex-grow: 0; ////
}

// FIRST CHILD: adjusts nav distance from left of page
.nav-link:first-child { 
}

.nav-link a {
  text-decoration: none;
  display: flex; ////
  height: 100%;
  justify-content: stretch;  // Stretch a to make whole of nav-link clickable
  align-items: center; ////
  &:hover {
    background-image: none;
  }
}


.nav-link a.smaller {
  font-size: 1.45rem; // overide default smaller size: 1.3
  @include breakpoint(TP) {
    font-size: 1.5rem; // overide default smaller size: 1.5
  }
  @include breakpoint(D) {
    font-size: 1.7rem; // overide default smaller size: 1.7
  }
}

// "Apple" overide

.top-bar.apple .nav-link a.smaller {
  font-size: 1.3rem;
  @include breakpoint(TP) {
    font-size: 1.4rem;
  }
  @include breakpoint(D) {
    font-size: 1.4rem;
  }
}


.nav-link span {
  font-family: inherit;
  font-weight: inherit;
  font-color: inherit;
}

// Pink and blue bg overide

.top-bar.pink .nav-link a,
.top-bar.blue .nav-link a {
  color: white;
  &:hover {
    text-decoration: underline;
    background-image: none;
  }
}

// Black bg overides

.top-bar.black .nav-link a,
.top-bar.black-dark .nav-link a {
  color: white;
  &:hover {
    color: $pink;
  }
}

//////////////// MEGA-MENU SPECIFIC /////////////////

.nav-link .dropdown-arrow { // Add dropdown arrow when there is a mega-menu
  display: none;
  @include breakpoint(D) {
    display: initial;
    font-size: 2.2rem;
    padding-left: 0px;
    padding-bottom: 15px;
    transform: rotate(90deg);
  }
}

.nav-link.active, 
.nav-link.active a,
.top-bar.black .nav-link.active a,
.top-bar.black-dark .nav-link.active a  { // .active class is added when mega-menu open
  color: $pink;
}

.nav-link:not(.dropdown) .dropdown-arrow { // Remove on anything other than desktop
    display: none;
}


/////////////////////////////////////////////////////
////////////////// SIMPLE SEARCH ////////////////////
/////////////////////////////////////////////////////

.top-bar .search-outer-wrapper { // When search removed this outer-wrapper remains to maintain spacing in nav
  position: relative;
  z-index: 211;
  flex-basis: 100%;
  height: 37px;
  order: 3;
  padding: 0;
  margin: 9px 0 0 0;
  @include breakpoint(ML) {
    order: 4;
    flex-grow: 0.7;
    flex-basis: 290px;
    align-self: flex-end;
    height: 38px;
    padding-right: 23px;
    padding-left: 10px;
    margin: 0;
  }
  @include breakpoint(TP) {
    flex-basis: 300px;
    padding-left: 20px;
  }
  @include breakpoint(D) {
    padding: 0;
    order: 3;
    height: 42px; 
    flex-basis: 270px;
    flex-grow: 2;
    align-self: center;
  }
}

.top-bar.apple .search-outer-wrapper {
  display: none;
}


// Overide when search removed (e.g. on project page)
// - achieved by adding "layout-sub-type: 'no-search'" in front matter of page

body.no-search .top-bar .search-outer-wrapper {
  height: 0px; // Shrunk, to allow top bar to be reduced in height on phones
  @include breakpoint(ML) {
    height: 38px; // Default, see class above
  }
  @include breakpoint(D) {
    height: 42px; // Default, see class above
  }  
}

.top-bar #search-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.top-bar #search-container {
  position: relative;
  width: 93%;
  height: 100%;
  left: 3.5%;
  @include breakpoint(TP) {
    width: 100%;
    left: 0%;
  }
}

.top-bar #search-input {
  width: 100%;
  height: 100%;
  border-radius: $radius;
  padding-left: 18px;
  padding-top: 2px;
  box-sizing: border-box;
  color: #999;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px rgba(0,0,0,0.1);
  transition-property: none;
  font-size: 16px;
  @include breakpoint(TP) {
    padding-left: 15px;
    padding-top: 3px;
    font-size: 16px;
  }
  @include breakpoint(D) {
    padding-left: 17px;
    padding-top: 2px;
    font-size: 1.5rem;
  }
}

.top-bar #search-input::placeholder {
  color: #999;
}

.top-bar #search-input:hover {
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.top-bar #search-input:focus {
  outline: none;
  color: #4b515d;
  border: 1px solid #B8B6B6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.top-bar #search-input.results {
  border-radius: $radius $radius 0 0; //30px 30px 0px 0px;
  border: none;
}


//////////////////// SEARCH TEXT ////////////////////

.top-bar #search-wrapper #search-container .search-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.top-bar #search-wrapper #search-container .search-text {
  margin-left: 17px;
  margin-top: 2px;
  color: #999;
  font-size: 1.25rem;
  @include breakpoint(TP) {
    margin-top: 2px;
    font-size: 1.35rem;
  }
  @include breakpoint(D) {
    margin-top: 3px;
    font-size: 1.5rem;
  }
}


/////////////////// SEARCH ICONS ////////////////////

.top-bar #search-wrapper .search-icon-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 90;
  width: 35px;
  height: 100%;
  right: 0px;
  top: 0px;
  @include breakpoint(TP) {
    width: 34px;
  }
  @include breakpoint(D) {
    width: 37px;
  }
}

.top-bar #search-wrapper .search-icon {
  padding-top: 1px;
  width: 19px;
  height: 20px;
  @include breakpoint(TP) {
    height: 20px;
  }
  @include breakpoint(D) {
    height: 22px;
    width: 21px;
  }
}

.top-bar #search-wrapper .search-icon img {
  width: 100%;
}


//////////////// RESULTS CONTAINER //////////////////

.top-bar #results-container {
  position: absolute;
  width: 100%;
  letter-spacing: -0.5px;
  box-shadow: 0px 7px 7px rgba(0,0,0,0.3);
  border-radius: 0 0 $radius $radius; //0px 0px 25px 25px;
  background-color: $body-bg;  
}

.top-bar #results-container li {
  padding: 10px 20px 10px 20px;
  list-style-type: none;
}

.top-bar #results-container li:first-child {
  padding-top: 35px;
}

.top-bar #results-container li:last-child {
  padding-bottom: 35px;
}

.top-bar #results-container li.no-results {
  padding: 21px 20px 21px 20px;
  list-style-type: none;
}

// Text colors

.top-bar #results-container .entry-type {
  background-image: none;
  background-color: $body-bg;
}

.top-bar #results-container li a {
  background-image: none;
  color: $black;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}



/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////// CART BUTTON /////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

.cart-wrapper {
  position: relative;
  z-index: 211;
  width: 62px;
  height: 35px;
  margin: 0 0 0 33px;
  background-color: $pink;
  border-radius: $radius 0 0 $radius ; //30px 0 0 30px;
  order: 2;
  @include breakpoint(ML) {
    order: 2;
    padding: 0;
    margin: 0 0 0 33px;
    height: 38px;
    width: 70px;
  }
  @include breakpoint(TP) {
    width: 75px;
  }
  @include breakpoint(D) {
    padding: 0;
    margin: 0 0 0 33px;
    width: 85px;
    height: 42px;
    order: 4;
    align-self: center;
  }
}

.top-bar.apple .cart-wrapper {
  display: none;
}

// Color overide

.top-bar.pink .cart-wrapper {
  //background-color: $black;
  background-color: $black;
}

.cart-button-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-text {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  margin-bottom: -4px;
  @include breakpoint(TP) {
      font-size: 1.5rem;
      margin-bottom: -4px;
  }
  @include breakpoint(D) {
      font-size: 1.6rem;
      margin-bottom: -2px;
  }
}

.cart-icon {
  text-transform: uppercase;
  width: 18px;
  height: 19px;
  margin-right: 4px;
  margin-bottom: 1px;
  @include breakpoint(TP) {
    margin-right: 7px;
    margin-bottom: -1px;
    width: 20px;
    height: 24px;
  }
  @include breakpoint(D) {
    margin-bottom: 0px;
  }
}

.cart-icon img {
  width: 100%;
  fill: red;
}


/////////////////////////////////////////////////////
////////////////// FULL PAGE TINT ///////////////////
/////////////////////////////////////////////////////

.fullpage-tint {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(55,55,55,0.5);
}

.fullpage-tint.under-nav {
  z-index: 900;
  opacity: 0;
}

.fullpage-tint.over-nav {
  z-index: 992;
  opacity: 0;
}


/////////////////// DEV OVERIDES ////////////////////

body .del {
  .logo-wrapper {
    background-color: orange;
  }
  .cart-wrapper {
    background-color: green;
  }
  #search-wrapper {
    background-color: red;
  }
  nav {
    background-color: yellow;
  } 
  .nav-link {
    background-color: wheat;
  } 
}




