



<!-- BASED ON: SECTION TEXT -->
<section class="section-header-alt {{ include.class }} no-illo-butt strip-top-butt strip-bottom">
    {% assign illo-total = site.posts.size %} 
    <div class="content-wrapper">
        <div class="sect-title-wrapper">
          <h1 class="sect-title">{{ include.sect-title }}</h1>
          <div class="underline"></div>
        </div>
      <div class="text-wrapper"> 
        <!--<h4 class="caps"></h4
        <p class="smallest stretch-cap">{{ illo-total }} licensable illustrations</p>>-->
        <p class="page-sub-title small">{{ include.p1 }}</p>        
      </div>
      <div class="bg-texture-wrapper">
        <div class="frame show"><div class="top-frame"></div><div class="bottom-frame"></div></div>
        <div class="bg-texture"></div>
      </div>
    </div>
</section>


