

{% assign section-divider = null %}
{% assign section-class = null %}

{% if include.class contains "pink" or include.class contains "yellow" or include.class contains "grey" or include.class contains "black" or include.class contains "black-medium" or include.class contains "blue" or include.class contains "none" %}
  {% assign section-class = include.class %}
{% else%}
  {% assign section-class = include.class | append: " none" %}
{% endif %}


{% if include.section-divider == "no-illo" %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top" %}
    {% assign section-divider = "" %}
{% elsif include.section-divider == "no-illo-butt" %}
    {% assign section-class = section-class | append: " " | append: "no-illo-butt strip-top-butt" %}
    {% assign section-divider = "" %}
{% elsif include.section-divider and include.section-divider != empty %}
    {% assign section-divider = include.section-divider %}
{% else %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top" %}
    {% assign section-divider = "" %}
{% endif %} 

{% assign section-class = section-class | append: " " | append: include.ani-triggers | replace: "  ", " "  %}


{% assign logo-png-array = include.logo-png-array | split: "," %}


<section {% if include.id and include.id != empty %}id="{{ include.id }}"{% endif %} class="section-logos strip-line {{ section-class | strip }}">
  
    {% if include.section-divider and include.section-divider != empty %}
      <div class="sect-illo-wrapper {{ section-divider }}"><div class="sect-illo"></div></div>
    {% endif %}

    <div class="content-wrapper">

      {% if include.sect-title and include.sect-title != empty %}
        <div class="sect-title-wrapper">
          <h2 class="sect-title">{{ include.sect-title }}</h2>
          <div class="underline"></div>
        </div>
      {% endif %}

      <div class="text-wrapper">
        {% if include.h3-sub-title-top and include.h3-sub-title-top != empty %}
          <div class="title"><h3>{{ include.h3-sub-title-top }}</h3></div>
        {% elsif include.h4-sub-title-top and include.h4-sub-title-top != empty %}
          <div class="title"><h4>{{ include.h4-sub-title-top }}</h4></div>
        {% endif %}
  
        {% if include.text-top and include.text-top != empty %}
          <div class="text-top"><p>{{ include.text-top }}</p></div>
        {% endif %}


      </div>

      {% assign counter = 0 %}
      {% for logo in logo-png-array %}
        {% assign counter = counter | plus: 1 %}
        {% assign logo-name = logo %}

          <div class="img-wrapper">
              <picture>
                <source media="(min-width: 1150px)" srcset="{{ site.url }}{{ site.baseurl }}/images/content/logos/{{ include.logo-col }}/{{ logo-name }}.png">
                <source media="(min-width: 450px)" srcset="{{ site.url }}{{ site.baseurl }}/images/content/logos/{{ include.logo-col }}/{{ logo-name }}.png">
                <img src="{{ site.url }}{{ site.baseurl }}/images/content/logos/{{ include.logo-col }}/{{ logo-name }}.png"
                alt="{% if include.alt %}{{ include.alt }}{% endif %}" loading="lazy">
              </picture>
          </div>

      {% endfor %}

      {% if include.link-text and include.link-text != empty or include.h3-sub-title-bot and include.h3-sub-title-bot != empty or include.h4-sub-title-bot and include.h4-sub-title-bot != empty or include.text-bot and include.text-bot != empty or include.end-caption and include.end-caption != empty %}
        <div class="text-wrapper bottom">
          {% if include.h3-sub-title-bot and include.h3-sub-title-bot != empty %}
            <h3 class="title">{{ include.h3-sub-title-bot }}</h3>
          {% elsif include.h4-sub-title-bot and include.h4-sub-title-bot != empty %}
            <h4 class="title">{{ include.h4-sub-title-bot }}</h4>
          {% endif %}
          {% if include.text-bot and include.text-bot != empty %}
            <p class="text-bottom">{{ include.text-bot }}</p>
          {% endif %}
          {% if include.end-caption and include.end-caption != empty %}
            <p class="smallest end-caption">{{ include.end-caption }}</p>
          {% endif %}

          {% if include.link-text and include.link-text != empty %}
            <div class="button-wrapper {% if include.link-url == "open-chat" %}open-chat disable{% endif %}"><a {% if include.link-url == "open-chat" %}onclick="tidioChatApi.open()"{% else %} href="{{ include.link-url }}"{% endif %} class="link-button smaller" >{{ include.link-text }} <span class="right-arrow">›</span></a></div> 
            {% if include.link-url == "open-chat" %}<div class="cookie-block-wrapper"><p class="cookie-block-text smallest">Please allow cookies to enable chat</p></div>{% endif %} 
          {% endif %} 

        </div>

      {% endif %}



      <div class="bg-texture-wrapper">
        <div class="frame show"><div class="top-frame"></div><div class="bottom-frame"></div></div>
        <div class="bg-texture"></div>
      </div>
      
    </div>
    
</section>




