  

{% assign section-divider = null %}
{% assign section-class = null %}

{% assign classTemp =  include.class | downcase %}
{% if classTemp contains "pink" %}
   {% assign bg-col =  "pink" %}
{% elsif classTemp contains "blue" %}
  {% assign bg-col =  "blue" %}
{% elsif classTemp contains "black" %}
  {% assign bg-col =  "black" %}
{% elsif classTemp contains "black-medium" %}
  {% assign bg-col =  "black-medium" %}
{% elsif classTemp contains "grey" %}
  {% assign bg-col =  "grey" %}
{% elsif classTemp contains "yellow" %}
  {% assign bg-col =  "yellow" %}
{% elsif classTemp contains "none" %}
  {% assign bg-col =  "none" %}
{% endif %}

{% if include.class contains "pink" or include.class contains "yellow" or include.class contains "grey" or include.class contains "black" or include.class contains "black-medium" or include.class contains "blue" or include.class contains "none" %}
  {% assign section-class = include.class %}
{% else%}
  {% assign section-class = include.class | append: " none" %}
{% endif %}


{% if include.bg-slider-uniq-ID and include.bg-slider-uniq-ID != empty %}
  {% assign bg-slider-uniq-ID = include.bg-slider-uniq-ID %}
{% else %} 
  {% assign bg-slider-uniq-ID = "uniq-ID-ABC" %}
{% endif %} 

{% if include.class contains "bg-slider" %}  
  {% assign section-class = section-class | append: " " | append: bg-slider-uniq-ID %}
{% endif %} 


{% if include.section-divider == "no-illo" %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top" %}
{% elsif include.section-divider == "no-illo-butt" %}
    {% assign section-class = section-class | append: " " | append: "no-illo-butt strip-top-butt" %}
{% elsif include.section-divider and include.section-divider != empty %}
    {% assign section-divider = include.section-divider %}
{% else %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top" %}
{% endif %} 

{% unless include.sect-title and include.sect-title != empty %}
  {% assign section-class = section-class | append: " " | append: "no-sect-title" %}
{% endunless %} 

{% assign section-class = section-class | append: " " | append: include.ani-triggers | replace: "  ", " "  %}


<section {% if include.id and include.id != empty %}id="{{ include.id }}"{% endif %} class="section-text-image strip-line {{ section-class | strip }}">

    {% if include.section-divider and include.section-divider != empty %}
      <div class="sect-illo-wrapper {{ section-divider }}"><div class="sect-illo"></div></div>
    {% endif %}

    <div class="content-wrapper {% if include.bg-image == "true" or include.bg-image == true %}bg-image-tall{% endif %}">

      {% if include.sect-title and include.sect-title != empty %}
        <div class="sect-title-wrapper">
          <h2 class="sect-title">{{ include.sect-title }}</h2>
          <div class="underline"></div>
        </div>
      {% endif %}

        <div class="col-wrapper col-1">
        {% assign text-content = include.h4-sub-title | append: include.h3-sub-title | append: include.text | append: include.link-text %}
        {% if text-content and text-content != empty %}
          <div class="text-wrapper">
            {% if include.h3-sub-title and include.h3-sub-title != empty %}
              <h3 class="title {{ bg-slider-uniq-ID }}">{{ include.h3-sub-title }}</h3>
            {% elsif include.h4-sub-title and include.h4-sub-title != empty %}
              <h4 class="title {{ bg-slider-uniq-ID }}">{{ include.h4-sub-title }}</h4>
            {% endif %}
            {% if include.caption and include.caption != empty %}
              <p class="text {{ bg-slider-uniq-ID }} smaller">{{ include.caption }}</p>
            {% endif %}
            {% if include.text and include.text != empty %}
              <p class="text {{ bg-slider-uniq-ID }}">{{ include.text }}</p>
            {% endif %}
            {% if include.link-text and include.link-text != empty %}
              <div class="button-wrapper"><a href="{{ site.baseurl }}{{ include.link-url }}" class="link-button smaller" >{{ include.link-text }} <span class="right-arrow">›</span></a></div> 
            {% endif %}

            {% assign bg-slider-class-array = include.bg-slider-classes | split: "," %}
            {% assign bg-slider-qty = bg-slider-class-array.size %}
            {% if include.class contains "bg-slider" %}           
              <div class="navi-dots-wrapper">
                {% for i in (1..bg-slider-qty) %}
                  <div class="navi-dot dot-{{ i }} {{ bg-slider-uniq-ID }}"></div>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        {% endif %}
        </div>


        <div class="col-wrapper col-2">

          {% if include.video-active == "true" %}
            <div class="video-wrapper-constrain {{ include.video-class }}">

              {% if include.video-src contains "vimeo.com" %}

                  {% assign src = include.video-src %}
                  {% assign controls-string = "" %}
                  {% assign controls = "" %}
    
                  {% if src contains "|" %}
                    {% assign src = src | split: "|" %}
                    {% assign controls = src[0] %}
                    {% assign src = src[1] | append: "?" %}
                  {% else %}
                    {% assign src = src | append: "?controls=0" %}
                  {% endif %}
    
                  {% capture vimeo-src %}{{ src }}{% endcapture %}
                  {% capture last-five-nums %}{{ src | slice: -5, 5 }}{% endcapture %}
                  
    
                  {% if controls contains "autoplay" %}
                    {% assign controls-string = "&autoplay=1&muted=1&autopause=0" %}
                  {% endif %}
                  {% if controls contains "loop" %}
                    {% assign controls-string = controls-string | append: "&loop=1" %}          
                  {% endif %}
                  {% if controls contains "mute" %}
                    {% assign controls-string = controls-string | append: "&muted=1" %}         
                  {% endif %}
                  {% if controls contains "fullscreen" %}
                    {% assign controls-string = controls-string | append: "&fullscreen" %}    
                  {% endif %}
    
                  {% capture controls-string %}{{ controls-string }}{% endcapture %}

                  {% include sections-posts/add-video.html
                    uniqueID = include.video-uniqueID
                    extra-controls=controls-string
                    type = include.video-type
                    src = vimeo-src
                    class = include.video-class
                  %}

              {% elsif include.video-src contains "/videos/" %}

                  {% assign src = include.video-src %}
                  {% assign controls-string = "" %}
                  {% assign controls = "" %}
                  {% assign local-video = "local" %}
    
                  {% if src contains "|" %}
                    {% assign src = src | split: "|" %}
                    {% assign controls = src[0] %}
                    {% assign src = src[1] %}
                  {% endif %}
    
    
                  {% if controls contains "controls" %}
                    {% assign controls-string = "controls" %}             
                  {% endif %}
                  {% if controls contains "autoplay" %}
                    {% assign controls-string = controls-string | append: " autoplay" %}
                  {% endif %}
                  {% if controls contains "loop" %}
                    {% assign controls-string = controls-string | append: " loop" %}          
                  {% endif %}
                  {% if controls contains "mute" %}
                    {% assign controls-string = controls-string | append: " muted" %}         
                  {% endif %}

                <div class="video-box vimeo {{ include.video-class }}">
                    <div class="img-top-illo-wrapper"><div class="img-top-illo"></div></div>
                    <div class="frame-wrapper text-image">
                      <div class="frame">
                        <div class="top-frame"></div>
                        <div class="left-frame"></div>
                        <div class="right-frame"></div>
                        <div class="bottom-frame"></div>
                        <div class="video-wrapper {{ local-video }}">
                          <div class="aspect-ratio sixteen-nine">
                            <video class="video-local" playsinline {{ controls-string }}><source src="{{ src }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

              {% endif %}


            </div>
          {% elsif include.carousel-active == "true"  %}
            <div class="fotorama-box">
              {% unless section-class contains "no-frame" %}
                <div class="img-top-illo-wrapper"><div class="img-top-illo"></div></div>
              {% endunless %}
              <div class="img-top-illo-wrapper"><div class="img-top-illo"></div></div>
              <div class="frame-wrapper text-image">
                
                  <div class="top-frame"></div>
                  <div class="left-frame"></div>
                  <div class="right-frame"></div>
                  <div class="bottom-frame"></div>
                
                <div class="fotorama"
                    data-width="100%"
                    data-ratio="1.499"
                    data-arrows="always"
                    thumbwidth="150"
                    thumbheight="103"
                    data-loop="true">
      
                {% assign photo-loop = include.carousel-img-num %}
                {% for i in (1..photo-loop) %}
                  {% assign file-format = "jpg" %}
                  {% assign products-dir = "/images/" | append: include.carousel-img-dir %}
                  {% assign loop-num = i | minus: 0 %}
                  <a href="{{ site.url }}{{ site.baseurl }}{{ products-dir }}/detail-{{ i }}/2000px.{{ file-format }}"><img src="{{ site.url }}{{ site.baseurl }}{{ product-photo-dir }}/detail-{{ i }}/thumb-150px.{{ file-format }}"></a>
                {% endfor %}
                </div>
              </div>
            </div>
          {% else %}

          <div class="frame-wrapper">
            {% if include.link-url and include.link-url != empty %}<a href="{{ site.baseurl }}{{ include.link-url }}">{% endif %}
            <div class="frame">
              {% unless section-class contains "no-frame" %}
                <div class="top-frame"></div>
                <div class="left-frame"></div>
                <div class="right-frame"></div>
                <div class="bottom-frame"></div>
              {% endunless %}
            </div>
            {% if include.link-url and include.link-url != empty %}</a>{% endif %}

            <div class="img-wrapper">
              {% unless section-class contains "no-frame" %}
                <div class="img-top-illo-wrapper"><div class="img-top-illo"></div></div>
              {% endunless %}
              
                {% assign imgDirArray = page.image-dir | split: "/" %}
                {% assign img-file-prepend = null %}
                {% assign src = include.img-src %}
                {% assign new-src = null %}
                {% assign hypenYesNo = null %}
                {% assign noHash = null %}
                {% assign file-format = null %}
                
                {% if include.format and include.format != empty %}
                  {% assign file-format = include.format %}
                {% else %}
                  {% assign file-format = "jpg" %}
                {% endif %}
                
                {% assign srcArray = src | split: "/" %}
                
                {% if srcArray.size > 1 %}
                  {% if src contains "#" %}
                    {% assign file-format = srcArray | last | split: "#" | last %} 
                    {% assign hashSplitArray = srcArray | last | split: "#" %}  
                    {% assign tempVar = hashSplitArray | first %} 
                    {% if tempVar == empty %}
                      {% assign img-file-prepend = "" %}
                      {% assign whereIsHash = "ONLY-FILE-FORMAT" %}
                    {% else%}
                      {% assign img-file-prepend = srcArray | last | split: "#" | first | append: "-" %}
                      {% assign whereIsHash = "FILE-FORMAT-PREPEND" %}
                    {% endif %}
                  {% else %}
                    {% assign whereIsHash = "NO-HASH" %}
                    {% assign img-file-prepend = imgDirArray | last | append: "" %}
                    {% assign file-format = "jpg" %}
                  {% endif %}
                
                    {% for item in srcArray %}
                      {% if whereIsHash == "ONLY-FILE-FORMAT" %}
                      {% if forloop.first == true %}
                        {% assign new-src = new-src | append: item %}
                      {% else %}
                        {% if forloop.last != true %}
                          {% assign new-src = new-src | append: "/" |  append: item %}
                        {% endif %}
                      {% endif %}
                    {% elsif whereIsHash == "FILE-FORMAT-PREPEND" %}
                      {% if forloop.last != true %}
                        {% if forloop.first == true %}
                          {% assign new-src = new-src | append: item %}
                        {% elsif forloop.first != true %}
                          {% assign new-src = new-src  | append: "/"| append: item %}
                        {% endif %}
                      {% endif %}
                    {% elsif whereIsHash == "NO-HASH" %}
                        {% assign new-src = new-src | append: item %}
                        {% if forloop.last != true %}
                          {% assign new-src = new-src | append: "/" %}
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                {% else %}
                  {% assign new-src = src | remove: "/" %}
                  {% assign img-file-prepend = imgDirArray | last | append: "-" %}
                  {% assign whereIsHash = "NO-HASH" %}
                {% endif %}
  
                <picture>
                  <source media="(min-width: 1150px)" srcset="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}2000px.{{ file-format }}">
                  <source media="(min-width: 450px)" srcset="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}1500px.{{ file-format }}">
                  <img src="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}1000px.{{ file-format }}"
                  width="100%" height="auto" alt="{% if include.img-alt %}{{ include.img-alt }}{% endif %}" loading="lazy">
                </picture>

            </div> 
           </div>
          {% endif %}

        </div>

      
      <div class="bg-texture-wrapper">
        <div class="frame show"><div class="top-frame"></div><div class="bottom-frame"></div></div>
          {% assign counter = 20 %}
          {% if include.class contains "bg-slider" %}
            {% for item in bg-slider-class-array reversed %}
              {% assign counter = counter %}
              <div class="bg-texture bg-slider {{ item | split: ":" | first }} {{ bg-slider-uniq-ID }}" style="z-index: {{ counter }};"></div>
            {% endfor %}
          {% endif %}
            {% unless include.bg-image == "true" or include.bg-image == true %}
              <div class="bg-texture"></div>
            {% endunless %}
      </div>
      

    </div>



{% if include.class contains "bg-slider" %}

  <script type="text/javascript">

    ;(function() { //Limit scope
      // Create JS array from the user bg-slider-classes include
      var bgTextArray = [{% for item in bg-slider-class-array %}".{{ item | split: ":" | first }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
      var bgTextColArray = [{% for item in bg-slider-class-array %}"{{ item | split: ":" | last }}"{% unless forloop.last %},{% endunless %}{% endfor %}];
      var slideIn = new Array();
      var slideOut = new Array();
      var activeNumArray = new Array();
      var activeNum;
      var active = false;
      var doOnce = true;
      var delayStatus = false;
      var bgSliderNum
      function setActiveNum(activeNum) {
        for ( var count = 0; count < activeNumArray.length; count++) {
          activeNumArray[count] = false;
        }
        activeNumArray[activeNum] = true;
      }
    
      function getActiveNum() {
        for ( var count = 0; count < activeNumArray.length; count++) {
          if( activeNumArray[count] == true ) {
            return count;
          }
        }
      }
    
      var startDelay = function() {delayStatus = true;}
      var endDelay = function() {delayStatus = false;}
      function getDelayStatus() {
        if( delayStatus == false ) { return false }
        if( delayStatus == true ) { return true }
      }
    
      // Declare timelines
      var slideInFuncs = [];
      var slideOutFuncs = [];
    
      // Main build loop
      // Add nav-dots, bg-textures, and auto-play (via master-timeline) functionality
      // 1) for each bg-texture create a timeline for slide-in and slide-out animation
      $(".bg-texture.{{ bg-slider-uniq-ID }}").each(function(i){
        var bgElem = ".bg-texture.bg-slider" + bgTextArray[i] + ".{{ bg-slider-uniq-ID }}";
        var naviDotElem = ".navi-dot.dot-" + (i+1) + ".{{ bg-slider-uniq-ID }}";
        var pText = "h4" + ".{{ bg-slider-uniq-ID }}";
        var pTextEm = "h4" + ".{{ bg-slider-uniq-ID }}" + " em";
        var h3Text = "h3" + ".{{ bg-slider-uniq-ID }}";
        var h3TextEm = "h3" + ".{{ bg-slider-uniq-ID }}"+ " em";
        var h4Text = "p" + ".{{ bg-slider-uniq-ID }}";
        var h4TextEm = "p" + ".{{ bg-slider-uniq-ID }}"+ " em";
        var naviDots = ".navi-dot" + ".{{ bg-slider-uniq-ID }}";
        if ( bgTextColArray[i] == "light" ) { var thisTextCol = "#fff"; }
        if ( bgTextColArray[i] == "dark" ) { var thisTextCol = "#373737"; }
        var loopNum = i;
        // 2A) Slid In timeline
        slideInFuncs[i] = function() {
          tl = gsap.timeline({});
          tl.to(bgElem, {xPercent: 0, duration: 0,});
          tl.to(bgElem, {xPercent: -100, duration: 1.3},"<");
          tl.to(naviDotElem, {backgroundColor:thisTextCol, duration: 0.3},"<");
          tl.to(naviDots, {borderColor:thisTextCol, duration: 0.3},"<");
          tl.to(pText, {color:thisTextCol, duration: 0.3},"<0.2");
          tl.to(pTextEm, {color:thisTextCol, duration: 0.3},"<");
          tl.to(h4Text, {color:thisTextCol, duration: 0.3},"<");
          tl.to(h4TextEm, {color:thisTextCol, duration: 0.3},"<");
          tl.to(h3Text, {color:thisTextCol, duration: 0.3},"<");
          tl.to(h3TextEm, {color:thisTextCol, duration: 0.3},"<");
          return tl;
        };   
        // 2B) Slid Out timeline
        slideOutFuncs[i] = function() {
          tl = gsap.timeline({});
          tl.to(bgElem, {xPercent: -100, duration: 0.001});
          tl.to(bgElem, {xPercent: -200, duration: 1.3}, "<");
          tl.to(naviDotElem, {backgroundColor:"transparent", duration: 0.3},"<");
          tl.to(bgElem, {xPercent: 0, duration: 0});
          return tl;
        };
    
        // 3) Navi-dots functionality
        // Make first navi-dot/bg-slider active
        activeNumArray[i] = false;
        if (i==0){ activeNumArray[i] = true }
        // Create a click event on each navi dot
        $(naviDotElem).click(function(){
          if( activeNumArray[i] != true ){
            // Check if master is at delay breaks
            if ( getDelayStatus() == true && masterTl.isActive() ) {
              masterTl.pause();
            }
            if ( !masterTl.isActive() ) {
              slideInFuncs[i]();
              slideOutFuncs[getActiveNum()]();
              setActiveNum(i);
            }
          }
        });
        bgSliderNum = i;
      }); // End for each loop
    
      var masterTl = gsap.timeline({
        paused: false, 
        scrollTrigger: {
          trigger: ".section-text-image.{{ bg-slider-uniq-ID }}",
          start: "center center",
          end: "bottom top",
          scrub: false,
          markers: false
        }
      });
    
      // Master timeline build
      var slideInNum = 1;
      var slideOutNum = 0;
      var seqStart;
      var seqStartDelayStart;
      var seqStartDelayEnd;
      // Loop for each bg-slider element
      $(".bg-texture.{{ bg-slider-uniq-ID }}").each(function(i){
        if ( i == bgSliderNum ) {
          slideInNum = 0;
        }
        seqStart = "seq" + slideInNum + "";
        seqStartDelayStart = "seq" + slideInNum + "-=0.01";
        seqStartDelayEnd = "seq" + slideInNum + "+=1.3";
        // Build timeline
        if(i==0) {
          masterTl.addLabel(seqStart,"+=0");
        }
        else {
          masterTl.addLabel(seqStart,"+=2");  
        }
        masterTl.add( endDelay,seqStartDelayStart);
        masterTl.add( slideInFuncs[slideInNum](),seqStart);
        masterTl.add( slideOutFuncs[slideOutNum](),seqStart);
        masterTl.call( setActiveNum,[slideInNum],seqStart);
        masterTl.add( startDelay,seqStartDelayEnd);
        // Increment
        slideInNum +=1;
        slideOutNum +=1;
      }); // End for each loop
    })() //End of limit scope
    
  </script>

{% endif %}




{% if include.bg-image == true or include.bg-image == "true" %}
    <div class="bg-img-wrapper">

      {% if include.bg-image-overlay == true %}<div class="overlay"></div>{% endif %}

        {% assign imgDirArray = page.image-dir | split: "/" %}
        {% assign img-file-prepend = null %}
        {% assign src = include.bg-image-src %}
        {% assign new-src = null %}
        {% assign hypenYesNo = null %}
        {% assign noHash = null %}
        {% assign file-format = null %}
        
        {% if include.format and include.format != empty %}
          {% assign file-format = include.format %}
        {% else %}
          {% assign file-format = "jpg" %}
        {% endif %}
        
        {% assign srcArray = src | split: "/" %}
        
        {% if srcArray.size > 1 %}
          {% if src contains "#" %}
            {% assign file-format = srcArray | last | split: "#" | last %} 
            {% assign hashSplitArray = srcArray | last | split: "#" %}  
            {% assign tempVar = hashSplitArray | first %} 
            {% if tempVar == empty %}
              {% assign img-file-prepend = "" %}
              {% assign whereIsHash = "ONLY-FILE-FORMAT" %}
            {% else%}
              {% assign img-file-prepend = srcArray | last | split: "#" | first | append: "-" %}
              {% assign whereIsHash = "FILE-FORMAT-PREPEND" %}
            {% endif %}
          {% else %}
            {% assign whereIsHash = "NO-HASH" %}
            {% assign img-file-prepend = imgDirArray | last | append: "" %}
            {% assign file-format = "jpg" %}
          {% endif %}
                
          {% for item in srcArray %}
            {% if whereIsHash == "ONLY-FILE-FORMAT" %}
            {% if forloop.first == true %}
              {% assign new-src = new-src | append: item %}
            {% else %}
              {% if forloop.last != true %}
                {% assign new-src = new-src | append: "/" |  append: item %}
              {% endif %}
            {% endif %}
          {% elsif whereIsHash == "FILE-FORMAT-PREPEND" %}
            {% if forloop.last != true %}
              {% if forloop.first == true %}
                {% assign new-src = new-src | append: item %}
              {% elsif forloop.first != true %}
                {% assign new-src = new-src  | append: "/"| append: item %}
              {% endif %}
            {% endif %}
          {% elsif whereIsHash == "NO-HASH" %}
              {% assign new-src = new-src | append: item %}
              {% if forloop.last != true %}
                {% assign new-src = new-src | append: "/" %}
              {% endif %}
          {% endif %}
          {% endfor %}
      {% else %}
        {% assign new-src = src | remove: "/" %}
        {% assign img-file-prepend = imgDirArray | last | append: "-" %}
        {% assign whereIsHash = "NO-HASH" %}
      {% endif %}
  
      <picture>
        <source media="(min-width: 1150px)" srcset="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}3200px.{{ file-format }}">
        <source media="(min-width: 450px)" srcset="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}2200px.{{ file-format }}">
        <img src="{{ site.url }}{{ site.baseurl }}/images/{{ new-src }}/{{ img-file-prepend }}1200px.{{ file-format }}"
        width="100%" height="auto" alt="{% if include.alt %}{{ include.alt }}{% endif %}" loading="lazy">
      </picture>
    </div>
  {% endif %}



</section>











