

{% assign section-divider = null %}
{% assign section-class  = null %} 

{% if include.class contains "pink" or include.class contains "yellow" or include.class contains "grey" or include.class contains "black" or include.class contains "black-medium" or include.class contains "blue" or include.class contains "none" %}
  {% assign section-class = include.class %}
{% else%}
  {% assign section-class = include.class | append: " none" %}
{% endif %}

{% unless include.class contains "announcement" %}
  {% assign section-class = include.class | append: " announcement" %}
{% endunless %}

{% if include.section-divider == "no-illo" %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top" %}
    {% assign section-divider = "" %}
{% elsif include.section-divider == "no-illo-butt" %}
    {% assign section-class = section-class | append: " " | append: "no-illo-butt strip-top-butt"  %}
    {% assign section-divider = "" %}
{% elsif include.section-divider and include.section-divider != empty%}
    {% assign section-divider = include.section-divider %}
{% else %}
    {% assign section-class = section-class | append: " " | append: "no-illo strip-top"  %}
    {% assign section-divider = "" %}
{% endif %} 

{% assign section-class = section-class | append: " " | append: include.ani-triggers | replace: "  ", " " %}



<section {% if include.id and include.id != empty %}id="{{ include.id }}"{% endif %} class="section-divider strip-line {{ section-class | strip }}">

    {% if include.section-divider and include.section-divider != empty %}
      <div class="sect-illo-wrapper {{ section-divider }}"><div class="sect-illo"></div></div>
    {% endif %}

    <div class="content-wrapper">

      <div class="line-wrapper long-line"></div>

      <div class="bg-texture-wrapper">
        <div class="frame show"><div class="top-frame"></div><div class="bottom-frame"></div></div>
        <div class="bg-texture"></div>
      </div>

    </div>
    
</section>






