

////////////////////////////////////////////////
////////////// COLOUR PALETTE //////////////////
////////////////////////////////////////////////

	$blue: #1b98c2;
	$pink: #eb2a85; //#ee6bb1
	$black: #373737;
	$black-dark: #333333;
	$body-bg: #f5f6f5; //#f2f2f2; //#e9e9e9;

////////////////////////////////////////////////
////////////// GLOBAL COLOURS //////////////////
////////////////////////////////////////////////

	$global-accent-main: $pink;
	$global-accent-secondary: $blue;

	$global-link: $blue;
	$global-link-hover: $pink;

	$global-text-dark: #373737;
	$global-text-light: #666;


////////////////////////////////////////////////
////////////////// BUTTONS /////////////////////
////////////////////////////////////////////////

	$radius: 30px; // 15px; //4px;


////////////////////////////////////////////////
/////////////// SUBSCRIBE BOX //////////////////
////////////////////////////////////////////////

	$submit-text: white;
	$submit-bor: $global-accent-secondary;
	$submit-bg: $global-accent-secondary;
	$submit-text-hover: white;
	$submit-bor-hover: $global-accent-main;
	$submit-bg-hover: $global-accent-main;
	$submit-disabled: #bdbdbd;





