


<!DOCTYPE html>

<html lang="en">

  <head>
    {% include build/head-post.html %}
  </head>

  {% assign body-class-1 = null %}
  {% assign body-class-2 = null %}
  {% if page.layout-sub-type and page.layout-sub-type != empty %}
    {% assign body-class-1 = page.layout-sub-type %}
  {% endif %}
  {% if page.tidio-show-on-scroll == false %}
    {% assign body-class-2 = "TidioOnLoad" %}
  {% endif %}

  <body class="layout-post NoTidio {{ body-class-1 }} {{ body-class-2 }}">


    {% include build/top-bar.html %}
    

    <article class="container-wrapper {% if page.top-bar-class contains "apple" %}apple{% endif %}">

      {% include build/header-post.html %}

      <div class="container">
        <div class="content">

          {% unless page.layout-sub-type contains "legal" %}
            {% include build/meta-details.html %}
          {% endunless %}

          {{ content }}
          
          {% if page.author and page.author != empty %}
            {% include build/author-details.html %}
          {% endif %}

          <div class="footer-wrapper">
            {% if page.footer %}
              {% include {{ page.footer }} %}
            {% endif %}
            {% include build/global-footer.html %}
          </div>

        </div>
              
      </div>

    </article>

    {% include build/subscribe-modal-newsletter-ML.html class="black" %}
    
    {% include animations/burglar.html class="burglar" %}
    {% include animations/pointy-hand.html class="hand" %}
    {% include animations/robot.html class="robot" %}
    {% include animations/telescope.html class="telescope" %}

    {% include build/footer-scripts.html %}

  </body>

</html>



