
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////// SECTION - STRIP LINKS ///////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


.section-links {
	position: relative;
}

.section-links:first-child {
  margin-top: 0rem;
}


/////////////////// CONTENT WRAPPER ////////////////

.section-links .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
	position: relative;
	height: 100%;
  left: 0;
  width: 100%;
	z-index: 9;
}


///////////////////// COL WRAPPER //////////////////

.section-links .col-wrapper {
	position: relative;
	z-index: 10;
  line-height: 1.3;
  width: 80%;
  margin-bottom: 3rem;
  @include breakpoint(TP) {
    width: 50%;
    margin-bottom: 2rem;
  }
	@include breakpoint(D) {
    width: 25%;
	}
}

.section-links .col-wrapper:nth-of-type(5) {
  margin-bottom: 0rem;
}

.section-links.right .col-wrapper { // Right class overides
	@include breakpoint(D) {
		padding-right: 0%;
		padding-left: 45%;
	}	
}


/////////////////// LINKS WRAPPER //////////////////

.section-links .link-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(TP) {
    padding-right: 14px;
  }
  @include breakpoint(D) {
    padding-right: 11px;
  }
}

.section-links .col-wrapper:nth-of-type(5) .link-wrapper {
  padding-right: 0px;
}


////////////////////// NUMBER ///////////////////////

.section-links .number {
  position: relative;
  font-weight: 700;
  width: 9%;
  color: $global-text-dark;
  font-size: 2.3rem;
  @include breakpoint(TP) {
    width: 8%;
  }
	@include breakpoint(D) {
    width: 16%;
		font-size: 3.5rem;
		margin: 0;
    padding-left: 3px;
	}
}

// Colour overides

.section-links.black .number,
.section-links.none .number {
  color: $pink;
}


/////////////////////// TITLE ///////////////////////

.section-links .title {
  position: relative;
  width: 91%;
  letter-spacing: -0.4px;
  font-size: 1.7rem;
  @include breakpoint(TP) {
     width: 90%;
     font-size: 1.8rem;
  }
  @include breakpoint(D) {
    width: 84%;
    font-size: 1.9rem;
    margin: 0;
  }
}

.section-links.right .col-2-wrapper { // Right class overides
	@include breakpoint(D) {
		left: 22px;
	}	
}









